[submodule "src/modules/chatroom"]
	path = src/modules/chatroom
	url = https://github.com/px57/ng-chatroom.git
[submodule "src/modules/form"]
	path = src/modules/form
	url = https://github.com/px57/ng-form.git
[submodule "src/modules/loader"]
	path = src/modules/loader
	url = https://github.com/px57/ng-loader.git
[submodule "src/modules/modal"]
	path = src/modules/modal
	url = https://github.com/px57/ng-modal.git
[submodule "src/modules/profile"]
	path = src/modules/profile
	url = https://github.com/px57/ng-profile.git
[submodule "src/modules/tools"]
	path = src/modules/tools
	url = https://github.com/px57/ng-tools.git
[submodule "src/modules/unnitestAI"]
	path = src/modules/unnitestAI
	url = https://github.com/px57/ng-unnitestAI.git
[submodule "src/modules/uploadmanager"]
	path = src/modules/uploadmanager
	url = https://github.com/px57/ng-uploadmanager.git
