
<div style="position: relative;">
    <div    
        (click)="clickToBackground()" 
        class="header_profile_dropdown_background">
        <div
            (click)="clickToWhitePanel($event)"
            class="header_profile_dropdown_container">

            <!-- menu -->
            <ng-container *ngIf="opened_panel === 'menu'">
                <div class="avatar_container">
                    <div 
                        class="avatar"
                        [ngStyle]="{
                            'background-image': 'url(' + userService.get_avatar().src + ')'
                        }"></div>
                    <div class="avatar_name">@Anonymous</div>
                    <app-avatar-update (close)="close.emit()"></app-avatar-update>
                    
                </div>
                <div class="function_container">
                    <div 
                        class="function"
                        (click)="changeState('update_password')">
                        Update password
                    </div>
                    <div 
                        class="function"
                        (click)="changeState('profile')">
                        Update profile
                    </div>
                    <div 
                        class="function"
                        (click)="changeState('logout')">
                        Logout
                    </div>
                </div>
                <div class="dropdown_footer">
                    <ul>
                        <li><a (click)="changeState('about_us')">About us .</a></li>
                        <li><a (click)="changeState('faq')">Faq .</a></li>
                        <li><a (click)="changeState('terms')">Terms .</a></li>
                        <li><a (click)="changeState('privacy')">Privacy .</a></li>
                    </ul>
    
                    <h3>© 2023 GOLDTENDER LLC</h3>  
                </div>  
            </ng-container>

            <!-- logout -->
            <ng-container *ngIf="opened_panel === 'logout'">
                <app-header-dropdown-goback 
                    title="Logout"
                    (goBack)="goBack()"></app-header-dropdown-goback>
                <app-logout (close)="close.emit()"></app-logout>
            </ng-container>

            <!-- update profile -->
            <ng-container *ngIf="opened_panel === 'profile'">
                <app-header-dropdown-goback 
                    title="Profile"
                    (goBack)="goBack()"></app-header-dropdown-goback>
                <app-update-profile 
                    (changeField)="changeField($event)">
                </app-update-profile>
            </ng-container>

            <!-- update password -->
            <ng-container *ngIf="opened_panel === 'update_password'">
                <app-header-dropdown-goback 
                    title="Update password"
                    (goBack)="goBack()"></app-header-dropdown-goback>
                <app-update-password 
                    (changeField)="changeField($event)">
                </app-update-password>
            </ng-container>

            <!-- faq -->
            <ng-container *ngIf="opened_panel === 'faq'">
                <app-header-dropdown-goback 
                    title="Faq"
                    (goBack)="goBack()"></app-header-dropdown-goback>
                <app-faq></app-faq>
            </ng-container>

            <!-- Terms -->
            <ng-container *ngIf="opened_panel === 'terms'">
                <app-header-dropdown-goback 
                    title="Terms"
                    (goBack)="goBack()"></app-header-dropdown-goback>
                <app-terms></app-terms>
            </ng-container>

            <!-- Privacy -->
            <ng-container *ngIf="opened_panel === 'privacy'">
                <app-header-dropdown-goback 
                    title="Privacy"
                    (goBack)="goBack()"></app-header-dropdown-goback>
                <app-privacy></app-privacy>
            </ng-container>

            <!-- About us -->
            <ng-container *ngIf="opened_panel === 'about_us'">
                <app-header-dropdown-goback 
                    title="About us"
                    (goBack)="goBack()"></app-header-dropdown-goback>
                <app-about-us></app-about-us>
            </ng-container>

        <div 
            *ngIf="show_save_button"
            class="save_button_container">
            <button (click)="saveTheForm()">Save</button>
        </div>
    </div>
</div>
