.app_container_header {

}

.app_container_tickets_lists {
    position: absolute;
    left: 20px;
    background: rgba(26, 26, 26, 0.65);
    height: 400px;
    margin-top: 140px;
    height: 53vh;
        margin-top: 20vh;
    width: 42vh;
    border-radius: 20px;
}

.app_container_jackpot {
    // position: absolute;
    position: absolute;
    margin-top: 20vh;
    border-radius: 20px;
    height: 200px;
    text-align: center;
    width: 100%;
}

.app_container_chatroom {
    right: 20px;
}

// .app_container_chatroom:before {
//     box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
//     filter: blur(10px);
// }


.app_container_chatroom, .app_container_tickets_lists {
    position: absolute;
    right: 20px;
    background: rgba(26, 26, 26, 0.65);
    height: 400px;
    margin-top: 140px;
    height: 53vh;
    margin-top: 20vh;
    width: 42vh;
    border-radius: 20px;
    box-shadow: 0 20px 40px 1px rgba(0,0,0,.12), inset 0 -10px 20px -5px rgba(0,0,0,.3), 0 150px 100px -80px rgba(0,0,0,.4), inset 0 1px 4px hsla(0,0%,100%,.6), inset 0 -1px 1px 1px rgba(0,0,0,.2);
    backdrop-filter: blur(5px);
    border-radius: 9px;
}

.app_container_playmenu {

}
