
<!-- UPLOAD APPLET -->
<central-upload-component></central-upload-component>
<app-switch-modal></app-switch-modal>

<!-- <app-switch-modal></app-switch-modal> -->

<div class="app_container_header">
    <app-header></app-header>
</div>

<div
    class="app_container_tickets_lists">
    <app-tickets-list></app-tickets-list>
    <!-- <app-winner-list  
        *ngIf="!caps.generate_tickets()"></app-winner-list> -->
</div>

<div class="app_container_chatroom">
    <app-chatroom></app-chatroom>
</div>
<!-- 
<div class="app_container_jackpot">
    <app-jackpot></app-jackpot>
</div> -->

<router-outlet></router-outlet>


<!-- <div class="app_container_playmenu">
    <app-play-menu></app-play-menu>
</div> -->


<!-- <app-game-over></app-game-over> -->
  <svg class="svgFilter" xmlns="http://www.w3.org/2000/svg" version="1.1">
    <defs>
      <filter id="blurFilter">
        <feGaussianBlur 
          id="blurFilterItem" 
          in="SourceGraphic" 
          stdDeviation="4,0"/>
      </filter>
    </defs>
  </svg>