.tickets_list_container {
    .ticket_list_header {
        height: 10%;
        background-color: green;
    }
    
    h2 {
        color: #fff;
        strong {
            font-size: 1.5em;
        }        
    }

    h2 {
        color: white;
        display: inline-block;
        font-size: 1.2em;
    }

    .tickets_list {
        border-top: 1px solid #544b4b;
        margin-left: 10px;
        margin-right: 10px;
        color: white;
        position: absolute;
        height: 90%;
        overflow: auto;
        width: 94%;
        overflow-x: hidden;


        ul {
            list-style: none;
            margin: 0;
            padding: 0;
            li {
                margin-top: 15px;
                margin-bottom: 15px;
                height: 37px;

                span { 
                    font-size: 20px;
                    margin-left: 5px;
                    margin-right: 5px;
                    width: 14.2857142857%;
                    display: inline-block;
                    text-align: center;
                    margin: 0;
                    height: 36px;
                    vertical-align: top;
                }
            }
        }

        .line {
            width: 98%;
            height: 2px;
            background: grey;
            position: absolute;
            margin-top: 13px;
            animation-name: TraceLine;
            animation-duration: 1s;
        }

        /* The animation code */
        @keyframes TraceLine {
            from {
                width: 0%;
            }
            to {
                width: 98%;
            }
        }


        .delete_this_line {
            animation-name: DeleteLine;
            animation-duration: 2s;
            animation-delay: 0.5s;
            animation-fill-mode: forwards;
            animation-iteration-count: 1;

            animation-name: ReduceSize;
            animation-duration: 0.5s;
            animation-delay: 1s;
            animation-fill-mode: forwards;
            animation-iteration-count: 1;
            overflow: hidden;
        }

        @keyframes DeleteLine {
            from {
                transform: translate(0%, 0px);
                opacity: 1;
                background-color: rgb(206, 21, 21);
            }
            to {
                opacity: 0;
                transform: translate(100%, 0px);
                height: 37px;
            }
        }

        @keyframes ReduceSize {
            from {
                opacity: 1;
                height: 37px;
            }
            to {
                opacity: 0;
                height: 0px;
                margin: 0px;
            }
        }

        
        li.delete_this_line span {
            // animation-name: DeleteLine;
            // animation-duration: 3s;
            // animation-delay: 0.5s;
            // animation-iteration-count: 1;
        }

    }

    
}