<div class="tickets_list_container">
    <ng-container *ngIf="caps.timelaps_is_not_empty()">
        <div class="ticket_list_header">
            <div 
                class="flex-block">
                <h2 *ngIf="caps.generate_tickets()">
                    <ng-container *ngIf="ticket_counter !== 0">My <strong>{{ticket_counter}}</strong> tickets</ng-container> 
                </h2>
    
                <h2 *ngIf="!caps.generate_tickets()">
                    <strong>100</strong> Last winner
                </h2>
            </div>
        </div>
        <div class="tickets_list">
            <ul *ngIf="caps.generate_tickets()">
                <ng-container
                    *ngFor="let item of ticket_list; let i = index">
                    <li 
                        [ngClass]="{
                            'delete_this_line': item.state === 'delete_line',
                            'winner': i === 0
                        }">
                        <div
                            *ngIf="item.state === 'delete_line'" 
                            class="line"></div>

                        <span 
                            *ngFor="let number of item.number"
                            class="gold_number">
                            <app-gold-number 
                                [number]="number.value" 
                                [gold]="number.state"></app-gold-number>
                        </span>
                    </li>
                </ng-container>
            </ul>

            <app-winner-list *ngIf="!caps.generate_tickets()"></app-winner-list>
        </div>
    </ng-container>
    <ng-container *ngIf="!caps.timelaps_is_not_empty()">
        <div class="flex-to-center">
            <div class="loader">
                <app-first-letter-bold-text [text]="'Load ...'"></app-first-letter-bold-text>
            </div>
        </div>
    </ng-container>
</div>