.tickets_draw_container {
    padding-left: 2%;
    padding-right: 2%;
    height: 100%;
    display: flex;
    overflow: hidden;
    
    // flex-direction: column;

    li {
        display: flex;
        align-self: center;
        width: 14%;
        text-align: center;
        border-right: 1px solid wheat;
    
        
        height: 50%;
        vertical-align: middle;
        font-weight: bold;
        

        .slot_machine {
            align-self: center;
            margin: auto;
            color: white;
            overflow: hidden;
            font-size: 2.5em;

            li {
                display: block;
            }
        }
    }

    li:last-child {
        border-right: none;
    }

    .number_container {
        align-self: center;
        text-align: center;
        width: 100%;
        width: 100%;
        font-size: 2.53em;
        
        color: white;
    }
    .number_container.rotate {
        filter: url("#blurFilter");
    }

    .infinite_turn {
        transform: translate(0px, 0px);
        // animation: infinite_turn linear infinite;
        li {
            margin-bottom: 10px;
            border: none;
            margin-bottom: 41px;
            border: none;
            transform: translate(3px, 0px);
            height: 22.9px;
        }
         
        li.center {
            height: 30px;
        }

    }

    

    @keyframes infinite_turn {
        0% {
            transform: translate(0px, -660px);
        }


        100% {
            transform: translate(0px, 0px);
        }
    }   
    }

    .bobine_stop {
        animation: bobine_stop linear 1s;
    }

    @keyframes bobine_stop {
        0% {
            transform: translate(0px, 0px);
        }

        100% {
            transform: translate(0px, 0px);
        }
    }

