

<ul class="tickets_draw_container">
    <li 
        *ngFor="let bobine of bobine_list; let i = index">
        <div 
            class="number_container"
            [ngClass]="{
                'rotate': !bobine.stopped,
            }">
            <app-gold-number
                *ngIf="bobine.stopped" 
                [number]="bobine.number"></app-gold-number>

            <span *ngIf="!bobine.stopped">
                {{bobine.number}}
            </span>
        </div>
    </li>
</ul>

