.winner_container {
    background-color: rgba(26, 26, 26, 0.6);
    border-radius: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 15px;

    .avatar_container {
        display: inline-block;
        width: 20%;

        .avatar {
            background-color: yellow;
            height: 30px;
            width: 30px;
            display: inline-block;
            border-radius: 50px;
        }
    }

    .name_container {
        width: 80%;
        display: inline-block;
        height: 30px;
        vertical-align: top;

        span.name {
            vertical-align: sub;
        }
    }

    .progress_container {
        visibility: hidden;
        width: 100%;
        height: 5px;
        border-radius: 30px;
        margin-top: 15px;

        .progress_bar {
            background-color: #e42538;
            width: 30%;
            height: 100%;
        }
    }

    .price_footer {
        margin-top: 10px;
        border-radius: 0 0 10px 10px;
        text-align: right;
    }
}

.winner_container:first-child {
    background-color: rgba(102, 102, 102, 0.6);

    .progress_container {
        visibility: visible;
        background-color: rgba(255, 255, 255, 0.6);
    }
}