.header_container {
    position: fixed;
    background-color: white;
    width: 100%;
    height: 10%;

    border-radius: 0% 0% 50% 50%;
    top: 0;
    left: 0;
    right: 0;

    .timer_container {
        color: black;
        display: flex;
        height: 60%;

        span {
            align-self: center;
            margin-left: 10px;
        }
    }

    .right_container {
        float: right;
        margin-right: 10px;

        .balance_title, .balance_value, .user_circle, .balance_container {
            display: inline-block;
        }


        .balance_container {
            color: black;
            background-color: #f3f3f3;
            border-radius: 50px;
            border: 1px solid #ebebeb;
        }

        .user_circle {
            margin-left: 20px;
            display: inline-block;
            background-color: #deb750ff;
            border-radius: 50%;
            width: 40px;
            height: 40px;
            background-size: contain;
            cursor: pointer;
        }
    }

    .logo_container {
        max-height: 100%;
        background-image: url(/assets/img/logo.svg);
        margin-top: 10%;
        height: 80%;
        aspect-ratio: 1/1;
        margin: auto;
        background-size: contain;
        background-repeat: no-repeat;
        margin-top: 2%;
    }
}