<div class="play_menu_container">
    <div class="left_block">
        <ul 
            *ngIf="caps.moment_to_play()"
            class="token_container">
            <li 
                *ngFor="let token of left_token_list; let i = index"
                [class]="'token_item_' + i">
                <app-token 
                    [index]="i"
                    [token]="token"
                    (click)="select_token(token)">
                </app-token>
            </li>
        </ul>
    </div>

    <div class="central_block">
        <div class="central_button_container">
            <app-central-button
                [caps]="caps"
                [balance_amount]="balance_amount"
                [lotery_ticket]="lotery_ticket"
            ></app-central-button>
        </div>
    </div>

    <div class="right_block">
        <ul 
            *ngIf="caps.moment_to_play()"
            class="token_container">
            <li 
                *ngFor="let token of right_token_list; let i = index"
                [class]="'token_item_' + (i + 3)">
                <app-token
                    [index]="i + 3"
                    [token]="token"
                    (click)="select_token(token)">
                </app-token>
            </li>
        </ul>
    </div>
</div>