<div
    *ngIf="opened"
    class="App">
    <h1 class="lost">GAME OVER</h1>
    <div class="container">
      <h2 class="note">You lose</h2>
      <section>
        <div class='blooddrop'></div>
        <div class='blooddrop'></div>
        <div class='blooddrop'></div>
        <div class='blooddrop'></div>
        <div class='blooddrop'></div>
        <div class='blooddrop'></div>
        <div class='blooddrop'></div>
        <div class='blooddrop'></div>
        <div class='blooddrop'></div>
        <div class='blooddrop'></div>
      </section>
    </div>
  </div>